@model PostDetailWithUser

<link rel="stylesheet" href="@(Url.Content("~/css/Comment.css"))" />

<div class="commentsTitle">댓글</div>
<div class="comments" id="comments">
    <div class="best">
    </div>
    @foreach (var c in Model.Comments)
    {
        <div class="comment" id=@("comment" + c.Id) aid=@c.PostId uid=@c.CreatedUid pid=@c.ParentCommentId gid=@c.Id>
            <div class="main @(@c.ParentCommentId is null? string.Empty : "isReply")">
                <div class="userImage" style="background-image: url('/asset/defaultuser.png');"></div>
                <div class="commentWrapper">
                    <div class="info">
                        <div class="left">
                            <div class="nickName">
                                <div class="text">
                                    <span>@c.Nickname</span>
                                    @if (c.CreatedUid == Model.CreatedUid)
                                    {
                                        <span class="author">글쓴이</span>
                                    }
                                </div>
                            </div>
                            <div class="counts">
                                <div class="datetime">@c.CreatedTime</div>
                                @if (c.LikeCount > 0)
                                {
                                    <div class="dot"></div>
                                    <div class="likeCount">
                                        <i class="fa-regular fa-thumbs-up"></i>
                                        @c.LikeCount
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="commentContent" id="commentContent">
                        <div>@c.Comment1</div>
                    </div>
                    <div class="commentContainer" id="commentEtc"></div>
                </div>
            </div>

        </div>
    }
</div>
<div class="commentContainer" id="newComment">
    <div class="contentContainer">
        <div class="commentInput">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="commentContent">
                    <textarea name="content" placeholder="댓글을 작성해주세요" maxlength="400"></textarea>
                    <div class="attached"></div>
                </div>
                <div class="submit"><button>등록</button></div>
            }
            else
            {
                <div class="commentContent">
                    <textarea disabled="" name="content" placeholder="로그인 해주세요"></textarea>
                    <div class="attached"></div>
                </div>
                <div class="submit"><button type="button" onclick="login(event);">로그인</button></div>
            }
        </div>
    </div>
</div>