@model AdminUserListModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">닉네임</th>
            <th scope="col">정지기간</th>
            <th scope="col" class="someFunction">정지</th>
            <th scope="col" class="someFunction">뭔가기능2</th>
        </tr>
    </thead>
    <tbody class="table table-striped" id="user-list-table-container"></tbody>
</table>
<form asp-action="GetUserListTable" asp-controller="AdminUser" method="get" id="user-list-table-form">
    @Html.Hidden("PageNumber", Model.Pagination.PageNumber)
    @Html.Hidden("PageSize", Model.Pagination.PageSize)
    @Html.Hidden("SearchTarget", Model.Search.SearchTarget)
    @Html.Hidden("SearchKeyword", Model.Search.SearchKeyword)
</form>

<div id="pagination-container"></div>
<form asp-action="GetPagination" asp-controller="Shared" method="get" id="pagination-form">
    @Html.Hidden("PageNumber")
    @Html.Hidden("PageSize")
    @Html.Hidden("ToTalRowNum", Model.Pagination.TotalRowNum)
    @Html.Hidden("FormId", Model.Pagination.FormId)
</form>

<div id="search-container"></div>
<form asp-action="GetSearch" asp-controller="Shared" method="get" id="search-form">
    @Html.Hidden("SearchTarget", Model.Search.SearchTarget)
    @Html.Hidden("SearchKeyword", Model.Search.SearchKeyword)
    @Html.Hidden("StringifiedSelectListItemList", Model.Search.StringifiedSelectListItemList)
    @Html.Hidden("FormId", Model.Search.FormId)
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">임차</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalData"></p>
                <form asp-action="SuspendUser" asp-controller="User" method="post" id="user-suspend-form">
                    @Html.Hidden("UserId")
                    @Html.DropDownList("SuspensionTime", new List<SelectListItem>() {
                        new SelectListItem("1일", DateTime.UtcNow.AddDays(1).ToString()),
                        new SelectListItem("3일", DateTime.UtcNow.AddDays(3).ToString()),
                        new SelectListItem("7일", DateTime.UtcNow.AddDays(7).ToString()),
                        new SelectListItem("무기한", new DateTime(9999,12,31).ToString()),
                    })
                    <button type="submit">정지</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var userListTableForm = $("#user-list-table-form");
    var paginationForm = $("#pagination-form");
    var searchForm = $("#search-form");
    var userSuspendForm = $("#user-suspend-form");

    $("#exampleModal").ready(function () {
        userSuspendForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.StatusCode == "200") {
                        $("#exampleModal").modal('hide')
                        userListTableForm.submit()
                    }
                    else {
                        alert("no")
                    }

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })
        })
    })

    $(document).ready(function () {
        userListTableForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#user-list-table-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        paginationForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#pagination-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        searchForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#search-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        userListTableForm.submit();
        paginationForm.submit();
        searchForm.submit();
    })
</script>