@model AdminUserListModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">닉네임</th>
            <th scope="col" class="someFunction">뭔가기능1</th>
            <th scope="col" class="someFunction">뭔가기능2</th>
        </tr>
    </thead>
    <tbody class="table table-striped" id="user-list-table-container"></tbody>
</table>
<form asp-action="GetUserListTable" asp-controller="Admin" method="get" id="user-list-table-form">
    @Html.Hidden("PageNumber", Model.Pagination.PageNumber)
    @Html.Hidden("PageSize", Model.Pagination.PageSize)
    @Html.Hidden("SearchTarget", Model.Search.SearchTarget)
    @Html.Hidden("SearchKeyword", Model.Search.SearchKeyword)
</form>

<div id="pagination-container"></div>
<form asp-action="GetPagination" asp-controller="Utility" method="get" id="pagination-form">
    @Html.Hidden("PageNumber")
    @Html.Hidden("PageSize")
    @Html.Hidden("ToTalRowNum", Model.Pagination.TotalRowNum)
    @Html.Hidden("FormId", Model.Pagination.FormId)
</form>

<div id="search-container"></div>
<form asp-action="GetSearch" asp-controller="Utility" method="get" id="search-form">
    @Html.Hidden("SearchTarget", Model.Search.SearchTarget)
    @Html.Hidden("SearchKeyword", Model.Search.SearchKeyword)
    @Html.Hidden("StringifiedSelectListItemList", Model.Search.StringifiedSelectListItemList)
    @Html.Hidden("FormId", Model.Search.FormId)
</form>

<script>
    var userListTableForm = $("#user-list-table-form");
    var paginationForm = $("#pagination-form");
    var searchForm = $("#search-form");

    $(document).ready(function () {
        userListTableForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#user-list-table-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        paginationForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#pagination-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        searchForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#search-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        userListTableForm.submit();
        paginationForm.submit();
        searchForm.submit();
    })
</script>