@model AdminUserDetailModel

@{
}

<style>
    .nav-item a.active {
        font-weight: bold;
    }
</style>

<nav class="navbar navbar-default">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="@($"nav-link text-dark {(Model.DetailType == "Post" ? "active" : "")}")" aria-current="page" href="@($"/Admin/UserList/{Model.Id}/Posts")">작성한 게시글</a>
        </li>
        <li class="nav-item">
            <a class="@($"nav-link text-dark {(Model.DetailType == "Comment" ? "active" : "")}")" href="@($"/Admin/UserList/{Model.Id}/Comments")">작성한 댓글</a>
        </li>
    </ul>
    <ul class="nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Admin/UserList">&lt; 유저목록으로</a>
        </li>
    </ul>
</nav>

<div id="admin-user-detail-page-container"></div>
<form asp-action="UpdateUserDetailPage" asp-controller="Admin" method="get" id="admin-user-detail-page-form">
    @Html.Hidden("PageNumber", Model.Pagination.PageNumber)
    @Html.Hidden("PageSize", Model.Pagination.PageSize)
    @Html.Hidden("SearchTarget", Model.Search.SearchTarget)
    @Html.Hidden("SearchKeyword", Model.Search.SearchKeyword)
    @Html.Hidden("DetailType", Model.DetailType)
    @Html.Hidden("Id", Model.Id)
</form>

<script>
    var adminUserDetailPageForm = $("#admin-user-detail-page-form")

    $(document).ready(function () {
        adminUserDetailPageForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#admin-user-detail-page-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        adminUserDetailPageForm.submit();
    })
</script>