@model SearchModel
@using System.Text.Json

@{
    List<SelectListItemModel> selectListItems = JsonSerializer.Deserialize<List<SelectListItemModel>>(Model.StringifiedSelectListItemList);
}

<article id="list">
    <div class="searchAndWrite">
        <div>
            <div class="search">
                <form method="get" id="search-user-list-table-form">
                    <select id="SearchTarget" name="SearchTarget">
                        @foreach (SelectListItemModel item in selectListItems)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    @Html.TextBox("SearchKeyword", Model.SearchKeyword, new { @maxlength = "50" })
                    @Html.Hidden("PageNumber", 1)
                    <button type="submit">검색</button>
                </form>
            </div>
        </div>
    </div>
</article>

<script>
    var mainForm = $("#" + "@Model.FormId");

    $(document).ready(function () {
        if ($("#search-user-list-table-form").find("#SearchKeyword").val()) {
            $("#search-user-list-table-form").find("#SearchKeyword").focus();
        }
        $("#search-user-list-table-form").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var $this = $(this);
            var pageNumber = $this.find("#PageNumber").val()
            var searchTarget = $this.find("#SearchTarget").val()
            var searchKeyword = $this.find("#SearchKeyword").val()

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    mainForm.find("#PageNumber").val(pageNumber);
                    mainForm.find("#SearchTarget").val(searchTarget);
                    mainForm.find("#SearchKeyword").val(searchKeyword);
                    mainForm.submit();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    })
</script>