@model UserLoginCredentials
@{
    string? redirectUrl = ViewContext.HttpContext.Request.Query["redirect_url"];
}

<link rel="stylesheet" href="@(Url.Content("~/css/loginAndJoin.css"))" />

<div>
    <main>
        <div class="smallWrap">
            <h1>로그인</h1>
        </div>
        <div class="plainLogin">
            @using (Html.BeginForm("login", "credentials", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(x => x.LoginId, new { @placeholder = "아이디", @type = "text" })
                @Html.TextBoxFor(x => x.Password, new { @placeholder = "비밀번호", @type = "password" })
                <input type="hidden" id="RedirectUrl" name="RedirectUrl" value=@redirectUrl />
                @Html.ValidationSummary()
                <div class="button" action="submit"><button>로그인</button></div>
            }
        </div>
        <div class="smallWrap">
            <h1>로그인</h1>
            <form id="devLoginForm" action="/login?redirectUrl=https://chimhaha.net/humor_try/692" method="POST">
                <section id="socialAuth">
                    <a id="naverLoginLink" href="/auth/naver" class="naver">
                        <img src="/asset/social/naver.svg">
                        <div>Naver로 로그인</div>
                    </a>
                </section>
                <div class="remember">
                    <label for="remember">
                        <input type="checkbox" name="remember" id="remember" onclick="onClickRemember(this)">
                        로그인 정보 기억
                    </label>
                </div>
                <div class="etc">아직 회원이 아니라면? <a href="/join">회원가입</a></div>
            </form>
        </div>
    </main>

</div>
