@using System.Security.Claims
@using System.Text.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model PostDetailWithUser
@{
    ViewData["Title"] = $"{Model.Subject}";
    int userId = 0;
    if (ViewContext.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier) is not null)
    {
        userId = int.Parse(ViewContext.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)!.Value);
    }
    BoardControllerCommonParameter boardParameter = Model.Parameters;
    boardParameter.Id = 0;

    bool isBest = boardParameter.BoardId == 28;
}

<link rel="stylesheet" href="@(Url.Content("~/css/read.css"))" />
<link rel="stylesheet" href="@(Url.Content("~/css/Comment.css"))" />

<article id="article">
    <div class="sub">
        <div class="back">
            <a href="@Url.Action("PostList", "Board", boardParameter)">@(isBest ? "인기글" : $"{Model.BoardName}") &gt;</a>
        </div>
    </div>
    <div class="item">
        <div class="info">
            <div class="titleContainer">
                <div class="category" title=@Model.BoardName>
                    <span><a href="@Url.Action("PostList", "Board", new { @BoardId = Model.BoardId, @Id = 0 })">@Model.BoardName</a></span>
                </div>
                <span><h1>@Model.Subject</h1></span>
            </div>
            <div class="etc">
                <div class="left">
                    <div class="userImage" style="background-image: url('/assets/userImage.svg');"></div>
                    <div class="nickName">
                        @Model.Nickname
                    </div>
                    <div class="dot"></div>
                    <div class="datetime">@Model.CreatedTime</div>
                    <div class="dot"></div>
                    <div class="viewCount">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="eye" class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"></path>
                        </svg>@Model.ViewCount
                    </div>
                    <div class="dot"></div>
                    <div class="likeCount"><i class="fa-regular fa-thumbs-up"></i> @Model.LikeCount</div>
                </div>
                <div class="right">
                    @if (userId == Model.CreatedUid)
                    {
                        <div class="buttons" onclick="OpenPopUp()">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-v" class="svg-inline--fa fa-ellipsis-v fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                <path fill="#AAAAAA" d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z"></path>
                            </svg>
                        </div>
                        <ul class="popUp">
                            <form action='@($"/board/{Model.BoardNameEng}/{Model.Id}/edit")' method="get">
                            <li class="edit">
                                <a href='@($"/board/{Model.BoardNameEng}/{Model.Id}/edit")'>
                                    <button type="submit" name="submit" value="edit">
                                        <i class="fa-regular fa-edit"></i>&nbsp;수정
                                    </button>
                                </a>
                            </li>
                            </form>
                            <form action='@($"/board/{Model.BoardNameEng}/{Model.Id}/delete")' method="post">
                            <li class="delete">
                                <a href='@($"/board/{Model.BoardNameEng}/{Model.Id}/delete")'>
                                    <button type="submit" name="submit" value="delete">
                                        <i class="fa-regular fa-trash-alt"></i>&nbsp;삭제
                                    </button>
                                </a>
                            </li>
                            </form>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="content ck-content">
            <p>@Html.Raw(Model.Detail)</p>
        </div>
        <section id="adsense" class="articleCenter"><ins class="adsbygoogle" style="display: inline-block; text-decoration: none; height: 100px; max-height: inherit; min-height: 100px; min-width: 320px; width: 100%;" data-ad-client="ca-pub-3075483251413145" data-ad-slot="2335434047" data-adsense-index="2"></ins></section>
        <div class="likeContainer">
            <button id="like" class="like">
                <span>침하하</span>
                <span>😂</span>
            </button>
            <button id="scrap" class="scrap">
                <span>스크랩</span><span><i class="fa-regular fa-bookmark"></i></span>
            </button>
        </div>
        <div class="listAndEdit">
            <div class="left">
            </div>
            <div class="center">
                <div class="button">
                    <a href="@Url.Action("PostList", "Board", boardParameter)">
                        목록
                    </a>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
        <div id="commentPartialContainer">
            @await Html.PartialAsync("../Comment/Index.cshtml", Model.CommentPartialViewModel)
        </div>
        <div class="listAndEdit">
            <div class="left">
                <div class="button">
                    <a href="@Url.Action("PostList", "Board", boardParameter)">
                        목록
                    </a>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
        <br>
    </div>
</article>

@section Scripts {
    <script>
        function OpenPopUp() {
            const popUp = document.querySelector("ul.popUp");
            if (popUp) {
                if (popUp.style.display == 'none') {
                    popUp.style.display = 'block';
                } else {
                    popUp.style.display = 'none';
                }
            }
        }
    </script>
}