@model BoardInfoWithPostList
@using System.Text.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = $"{Model.BoardName}";
    string currentUrl = Url.ActionContext.HttpContext.Request.Path;
}

<article id="list">
    <section id="title" style="align-items: center;
    justify-content: space-between;
    display: flex;">
        <span>
            <h1>
                <div style="font-weight: 700; font-size: 21px">@Model.BoardName</div>
                @if (currentUrl != "/")
                {
                    <div class="description">@Model.Description</div>
                }
            </h1>
        </span>
        <span class="write">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/new_post">글쓰기</a>
            }
        </span>
    </section>
    <div id="board-page-container"></div>
    <form asp-action="UpdateBoardPage" asp-controller="Board" method="get" id="board-page-form">
        @Html.Hidden("BoardId", Model.Id)
        @Html.Hidden("PageNumber", Model.Pagination.PageNumber)
        @Html.Hidden("PageSize", Model.Pagination.PageSize)
        @Html.Hidden("SearchTarget", Model.Search.SearchTarget)
        @Html.Hidden("SearchKeyword", Model.Search.SearchKeyword)
    </form>


</article>

<script>
    var boardPageForm = $("#board-page-form");

    $(document).ready(function () {
        boardPageForm.submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function (data) {
                    $("#board-page-container").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        boardPageForm.submit();
    })
</script>